@use 'sass:color';

@use '../abstracts' as *;

@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: color.adjust($color-background-secondary, $alpha: -0.8);
  -ms-overflow-style: scrollbar;
  text-size-adjust: 100%;
  min-width: 375px;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%; // If dvh is not supported
  min-height: 100dvh;
  margin: 0;
  background: $color-background-primary;
  color: $color-text;
  word-break: break-word;
  font-family: $font-family-main;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 800;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%; // If dvh is not supported
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

[tabindex='-1']:focus {
  outline: none !important;
}

[role='button'] {
  cursor: pointer;
}

input[type='search'] {
  appearance: textfield;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color-background-third;
  color: $color-foreground-primary;
}

::-moz-selection {
  background: $color-background-third;
  color: $color-foreground-primary;
}

button {
  appearance: none;
}

a,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: 800;
}

small {
  font-size: 80%;
}
