:root {
  /* Base Colors */

  --color-base-white-100: #fff;

  --color-base-black-100: #000;
  --color-base-black-200: #0b1117;

  --color-base-gray-50: #dee7f1;
  --color-base-gray-100: #cadbef;
  --color-base-gray-150: #b4c1d0;
  --color-base-gray-200: #a0b6ce;
  --color-base-gray-300: #77899d;
  --color-base-gray-500: #37414f;
  --color-base-gray-600: #21303f;
  --color-base-gray-700: #202d3a;

  --color-base-azure-100: #16ffff;

  --color-base-green-100: #c2ff16;

  --color-base-purple-100: #b2c2d3;
  --color-base-purple-200: #938bad;
  --color-base-purple-700: #2b1c5f;
  --color-base-purple-850: #120932;
  --color-base-purple-900: #121820;
  --color-base-purple-950: #0d0625;

  /* Base Colors Gradients */

  --color-gradient-purple-850-horizontal: linear-gradient(
      0deg,
      var(--color-base-purple-850) 0%,
      var(--color-base-purple-850) 100%
    ),
    linear-gradient(
      0deg,
      var(--color-base-black-100) 0%,
      var(--color-base-black-100) 100%
    ),
    var(--color-base-purple-900);

  --color-gradient-purple-950-horizontal: linear-gradient(
      0deg,
      var(--color-base-purple-950) 0%,
      var(--color-base-purple-950) 100%
    ),
    linear-gradient(
      0deg,
      var(--color-base-black-100) 0%,
      var(--color-base-black-100) 100%
    ),
    var(--color-base-purple-900);

  /* Semantic Backgrounds */

  --color-background-main: var(--color-gradient-purple-850-horizontal);
  --color-background-secondary: var(--color-gradient-purple-950-horizontal);
  --color-background-third: var(--color-base-azure-100);
  --color-background-fourth: var(--color-base-green-100);
  --color-background-fifth: var(--color-base-purple-700);
  --color-background-sixth: var(--color-base-gray-700);
  

  /* Semantic Foregrounds */

  --color-foreground-main: var(--color-base-gray-50);
  --color-foreground-secondary: var(--color-base-gray-300);
  --color-foreground-third: var(--color-base-azure-100);
  --color-foreground-fourth: var(--color-base-green-100);
  --color-foreground-fifth: var(--color-base-purple-100);
  --color-foreground-sixth: var(--color-base-black-100);
  --color-foreground-seventh: var(--color-base-white-100);
  --color-foreground-eight: var(--color-base-gray-200);
  --color-foreground-ninenth: var(--color-base-black-200);
  --color-foreground-tenth: var(--color-base-gray-700);
}

/* If you need another theme */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
